{% extends "signs/base.html" %}
{% load static %}

{% block content %}

<div class="header">
    <img src="{% static 'signs/img/logo-zero.png' %}" class="logo" alt="Logo">
    <p class="subtitle">Zero Challenge | Insper</p>
</div>

<br>
<br>

<div id="wrapper">
    <div id="yourdiv">{{ map_html|safe }}</div>
</div>

<div class="buttons">

    <form action="{% url 'all' %}" method="post">
        {% csrf_token %}
        <div class="container-button">
            <button type="submit" class="pretty-button">All</button>
        </div>
    </form>

    <form action="{% url 'unsolved' %}" method="post">
        {% csrf_token %}
        <div class="container-button">
            <button type="submit" class="pretty-button">Unsolved</button>
        </div>
    </form>

</div>

<table class="data-table">
    <thead>
        <tr>
            <th>Adress</th>
            <th>Classification</th>
            <th>View</th>
            <th>Solved</th>
        </tr>
    </thead>
    <tbody>
        {% for sign in signs %}
            <tr>
                <td>{{ sign.adress }}</td>
                <td>{{ sign.classification }}</td>
                <td>{{ sign.view }}</td>
                <td>{{ sign.solved }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}